################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Daikin/.vs
/Daikin/out/build/x64-debug
/Daikin/CMakeFiles
/Daikin/Daikin.dir/Debug
/Daikin/Debug
/Daikin/x64/Debug/ZERO_CHECK
